<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="puntoVentaSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://puntoventa7a.gear.host/puntoVenta.asmx"
                binding="basicHttpBinding" bindingConfiguration="puntoVentaSoap"
                contract="WebService.puntoVentaSoap" name="puntoVentaSoap" />
        </client>
    </system.serviceModel>
</configuration>